@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Kanit", serif;
  -webkit-text-stroke: 1px rgb(252, 237, 237);
}

:root {
    /* colors */
    --hue: 50;
    --color-alpha: hsl(var(--hue), 100%, 50%);
    --color-dark: hsla(var(--hue), 3%, 15%, 0.75);
    /* fonts */
    --alpha-font-family: "IBM Plex Mono", monospace;
    /* borders */
    --border-radius: 4px;
    /* box shadow */
    --box-shadow: 0 0 0 1px rgba(0,0,0,.025), 0 1px 5px rgba(0, 0, 0, 0.25);
    /* transitions */
    --transition-duration: 0.1s;
    --transition-easing: ease-out;
  }

body {
  background-image: url(../Media/Img/background_1.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;  
    
}

.customice_text{
  background-color: #fff;
  margin: 0;
  border-radius: 10px;
  border: 5px solid #ffffff;
}

h1{
  margin: auto;
  -webkit-text-stroke: 0px;
}

.container {
  display: flex;
  gap: 50px;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 50px;
  
}

.character {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    width: 100%;
    height: 70vh;
    background: transparent; /* Color base */
    border: #858585;
    border-radius: 10%;
    box-shadow: var(--box-shadow);
    transition: filter 0.1s ease-in-out;
    background-color: hsla(0, 0%, 0%, 0.397);

}

.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 70vh;
  width: 100%;
  border-radius: 10%;
  background-color: hsla(0, 0%, 0%, 0.315);
}

input[type="range"] {
    width: 100%;
}

/* Lavel color */

.c-range {
    position: relative;
    width: 100%;
    max-width: 25em;
    padding: 12px 24px;
    background-color: #fff;
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
  }
  
  .c-range__holder {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  
  .c-range__label {
    position: absolute;
    width: 100%;
    font-size: 12px;
    line-height: 16px;
    padding: 16px;
    /* bottom: -48px; */
    left: 0;
    right: 0;
    text-align: center;
  }
  
  .c-range__slider {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    min-height: 24px;
    background: transparent;
    outline: none;
  }
  .c-range__slider, .c-range__slider::-webkit-slider-thumb {
    -webkit-appearance: none;
  }
  .c-range__slider::-webkit-slider-runnable-track {
    border: none;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background: linear-gradient(to right, #ff0000 0%, #ffff00 17%, #00ff00 33%, #00ffff 50%, #0000ff 67%, #ff00ff 83%, #ff0000 100%);
  }
  .c-range__slider::-moz-range-track {
    border: none;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background: linear-gradient(to right, #ff0000 0%, #ffff00 17%, #00ff00 33%, #00ffff 50%, #0000ff 67%, #ff00ff 83%, #ff0000 100%);
  }
  .c-range__slider::-ms-track {
    border: none;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background: linear-gradient(to right, #ff0000 0%, #ffff00 17%, #00ff00 33%, #00ffff 50%, #0000ff 67%, #ff00ff 83%, #ff0000 100%);
  }
  .c-range__slider::-webkit-slider-thumb {
    /* margin-top: -10px; */
    border: 4px solid white;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: var(--color-alpha);
    box-shadow: var(--box-shadow);
  }
  .c-range__slider::-moz-range-thumb {
    border: 4px solid white;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: var(--color-alpha);
    box-shadow: var(--box-shadow);
  }
  .c-range__slider::-ms-thumb {
    margin-top: 0;
    border: 4px solid white;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: var(--color-alpha);
    box-shadow: var(--box-shadow);
  }
  .c-range__slider::-ms-tooltip {
    display: none;
  }
  .c-range__slider:focus + .c-range__output, .c-range__slider:active + .c-range__output {
    opacity: 1;
  }

  
  /* Segundo slider saturación */
  .c-range-saturation {
    position: relative;
    width: 100%;
    max-width: 25em;
    padding: 12px 24px;
    background-color: #fff;
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
  }
  
  .c-range__holder2 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  
  .c-range-saturation__label {
    position: absolute;
    width: 100%;
    font-size: 12px;
    line-height: 16px;
    padding: 16px;
    /* bottom: -48px; */
    left: 0;
    right: 0;
    text-align: center;
  }
  
  .c-range-saturation__slider {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    min-height: 24px;
    background: transparent;
    outline: none;
  }
  .c-range__slider2, .c-range__slider2::-webkit-slider-thumb {
    -webkit-appearance: none;
  }
  .c-range__slider2::-webkit-slider-runnable-track {
    border: none;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background: linear-gradient(to right, #858585 0%, #ff0000 100%);
  }
  .c-range__slider2::-moz-range-track {
    border: none;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background: linear-gradient(to right, #858585 0%, #ff0000 100%);
  }
  .c-range__slider2::-ms-track {
    border: none;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background: linear-gradient(to right, #858585 0%, #ff0000 100%);
  }
  .c-range__slider2::-webkit-slider-thumb {
    /* margin-top: -10px; */
    border: 4px solid white;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: var(--color-alpha);
    box-shadow: var(--box-shadow);
  }
  .c-range__slider2::-moz-range-thumb {
    border: 4px solid white;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: var(--color-alpha);
    box-shadow: var(--box-shadow);
  }
  .c-range__slider2::-ms-thumb {
    margin-top: 0;
    border: 4px solid white;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: var(--color-alpha);
    box-shadow: var(--box-shadow);
  }
  .c-range__slider2::-ms-tooltip {
    display: none;
  }
  .c-range__slider2:focus + .c-range__output, .c-range__slider2:active + .c-range__output {
    opacity: 1;
  }
  
  input[type="range"] {
    width: 100%;
}

/* Lavel color */

.c-range-brightness {
    position: relative;
    width: 100%;
    max-width: 25em;
    padding: 12px 24px;
    background-color: #fff;
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
  }
  
  .c-range__holder3 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  
  .c-range__label3 {
    position: absolute;
    width: 100%;
    font-size: 12px;
    line-height: 16px;
    padding: 16px;
    /* bottom: -48px; */
    left: 0;
    right: 0;
    text-align: center;
  }
  
  .c-range__slider3 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    min-height: 24px;
    background: transparent;
    outline: none;
  }
  .c-range__slider3, .c-range__slider3::-webkit-slider-thumb {
    -webkit-appearance: none;
  }
  .c-range__slider3::-webkit-slider-runnable-track {
    border: none;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background: linear-gradient(to right, #000000 0%, #ffffff 100%);
  }
  .c-range__slider3::-moz-range-track {
    border: none;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background: linear-gradient(to right, #000000 0%, #ffffff 100%);
  }
  .c-range__slider3::-ms-track {
    border: none;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background: linear-gradient(to right, #000000 0%, #ffffff 100%);
  }
  .c-range__slider3::-webkit-slider-thumb {
    /* margin-top: -10px; */
    border: 4px solid white;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: var(--color-alpha);
    box-shadow: var(--box-shadow);
  }
  .c-range__slider3::-moz-range-thumb {
    border: 4px solid white;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: var(--color-alpha);
    box-shadow: var(--box-shadow);
  }
  .c-range__slider3::-ms-thumb {
    margin-top: 0;
    border: 4px solid white;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: var(--color-alpha);
    box-shadow: var(--box-shadow);
  }
  .c-range__slider3::-ms-tooltip {
    display: none;
  }
  .c-range__slider3:focus + .c-range__output, .c-range__slider3:active + .c-range__output {
    opacity: 1;
  }
  


/* Selector de personajes */
  .carousel-track {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
  }

  li {
    list-style: none;
    
  }

  .carousel-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

  .avatar {
    width: 5em;
    height: 5em;
    margin: 3px;
    cursor: pointer;
    border-color: beige;
    border: 2px solid rgb(255, 149, 149);
    border-radius: 50%;
    /* border: 2px solid transparent; */
    box-shadow: var(--box-shadow)
  }
  
  .avatar:hover, .avatar.selected {
    border-color: #303030;
    filter:brightness(50%)
  }

  #selected-avatar {
    width: 75%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .box{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #757575;
    border-radius: 10%;
    height: 70%;
  }

  .carousel {
    overflow: hidden;
    width: 300px;
  }
  .carousel-track {
    display: flex;
    transition: transform 0.3s ease-in-out;
  }

  button {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #3b3b3b;
    color: white;
    border: 4px solid rgb(255, 255, 255);
    border-radius: 10px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 16px;
    margin: 0 10px;
    box-shadow: var(--box-shadow)
  }

  button:hover {
    background-color: #0056b3;
  }

  .buttons {
    display: flex;
    justify-content: center;
  }

  .save-return{
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 6em ;
    gap: 10px;
    
  }

  #save {
    font-size: 3em;
  }

  #return {
    font-size: 3em;
  }

  /* tamaño ordenador
  ancho: 1440
  alto: 1024

  Tamaño tablet
  ancho 1180
  alto 820

  Movil (horizontal)
  alto 375
  ancho 667*/

  @media (max-width:667px){ 
    *{
      box-sizing: initial;
    }

    body{
      display: flex;
      flex-direction: column-reverse;
      height: auto;
      margin: 0;
    }

    .container{
      padding: 10px;
      gap: 40px;
    }

    .controls{
      gap: 5px;
      height: 80vh;
    }
    .character{
      height: 65vh;
      max-width: 65vh;
    }

    input[type="range"] {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .c-range{
      height: auto;
      max-width: 80%;
      padding: 4px;

    }

    .c-range__slider{
      height: auto;
      min-height: 0;
    }
    .c-range__slider::-webkit-slider-thumb {
      /* margin-top: -10px; */
      border: 1px solid white;
      width: 10px;
      height: 10px;
    }
    .c-range__slider::-moz-range-thumb {
      border: 1px solid white;
      width: 10px;
      height: 10px;
    }
    .c-range__slider::-ms-thumb {
      margin-top: 0;
      border: 1px solid white;
      width: 10px;
      height: 10px;
    }
    

    .c-range__slider2{
      height: auto;
      min-height: 0;
    }
    .c-range-saturation{
      height: auto;
      max-width: 80%;
      padding: 4px
      
    }
   
    .c-range__slider2::-webkit-slider-thumb {
      /* margin-top: -10px; */
      border: 1px solid white;
      width: 10px;
      height: 10px;
    }
    .c-range__slider2::-moz-range-thumb {
      border: 1px solid white;
      width: 10px;
      height: 10px;
    }
    .c-range__slider2::-ms-thumb {
      margin-top: 0;
      border: 1px solid white;
      width: 10px;
      height: 10px;
    }

    .c-range__slider3{
      height: 2%;
      min-height: 0;
    }
    .c-range-brightness{
      height: auto;
      max-width: 80%;
      padding: 4px
      
    }
    .c-range__slider3::-webkit-slider-thumb {
      /* margin-top: -10px; */
      border: 1px solid white;
      width: 10px;
      height: 10px;
    }
    .c-range__slider3::-moz-range-thumb {
      border: 1px solid white;
      width: 10px;
      height: 10px;
    }
    .c-range__slider3::-ms-thumb {
      margin-top: 0;
      border: 1px solid white;
      width: 10px;
      height: 10px;
    }

    .avatar {
      width: 3em;
      height: 3em;
      margin: 3px;
    }

    .customice_text{
      background-size: auto;
      font-size: 1em;
      border: 0;
      padding: 0;
      margin: 0;
      border-radius: 10%;
      -webkit-text-stroke: 0;
      
    }

    .save-return{
      margin-top: 0;
      margin-bottom: 5px;
    }
    
    #save{
      font-size: 1em;
    }

    #return{
      font-size: 1em;
    }
    
  }