@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: Impact, Haettenschweiler, 'Arial Narrow', sans-serif;
}


body {
    background-image: url(../Media/Img/background_1.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main-screen {
    display: flex;
    padding: 5rem;
    margin: 5vh;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}

.main-screen div img {
    width: 40vw;
    height: auto;

    user-select: none;
}

.menu {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    margin-left: 5vw;
}

.menu div {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.menu a {
    width: 300px;
    height: 100px;
    transition: 0.3s;
    user-select: none;
}

h1 {
    text-align: center;
    color: whitesmoke;
    font-family: "Kanit", serif;
    font-weight: 700;
    font-style: normal;
    -webkit-text-stroke: 4px black;
    font-size: 4rem;
}

h1:hover {
    color: #114711;
    -webkit-text-stroke: 0.1vw #ffa500;
    cursor: pointer;
}



/*Media Queries*/

/* TABLET */
@media (max-width: 1180px){
    .menu div {
        padding-top: 1.2rem;
        padding-bottom: 1.2rem;
    }

    h1 {
        -webkit-text-stroke: 3px black;
        font-size: 3rem;
    }

}


/* MOVILE */
@media (max-width:667px){

    .menu div {
        padding-top: 0.2rem;
        padding-bottom: 0.22rem;
    }

    h1 {
        -webkit-text-stroke: 1.5px black;
        font-size: 1.75rem;
    } 
    
}