*{ /*Estilo de la fuente*/
    font-family: 'Kanit', sans-serif;
    color: white; 
    text-shadow: 2px 0 0 black, -2px 0 0 black, 0 2px 0 black,  0 -2px 0 black, 2px 2px 0 black, -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black; 
}


body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.mapas {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 20px 60px; 
    max-width: 600px; 
    margin: auto; 
    padding: 20px;
    background-image:"../Media/Img/background_1.avif";
}

.mapa {
    width: 100%; 
    height: 200px; 
    border: 2px solid #333; 
    border-radius: 10px;
    position: relative; 
    overflow: hidden; 
    transition: opacity 0.3s ease-in-out, border-color 0.3s ease-in-out; /*Animacion transparencia*/
}

.imagen-mapa {
    width: 100%;  
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; /*Para que la imagene este detras del texto*/
    transition: filter 0.3s ease-in-out;
    pointer-events: none; 
}

.texto-seleccionado {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    font-weight: bold;
    color: white;
    background: rgba(0, 0, 0, 0.6); 
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
}

h1{
    margin-top: 7rem;
    margin-bottom: 0px;
}

.players{
    margin-top: 0rem;
    margin-bottom: 50px;
    text-align: center;
    display: flex;
}

.play{
    margin-top: 2;
    margin-bottom: 2rem;
}
    

.player{
    width: 50px; 
    height: 50px; 
    background-color: lightgray; 
    border: 2px solid #333; 
    border-radius: 50%;
    margin: 1rem;
}

.jugadores{
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    align-content: center;
}