/* body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-image:url("/Media/Img/background_1.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
} */

.mapas {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 20px 60px; 
    max-width: 600px; 
    margin: auto; 
    padding: 20px;
   
}

.mapa {
    width: 100%; 
    height: 200px; 
    border: 2px solid #333; 
    border-radius: 10px;
    position: relative; /* Necesario para posicionar la imagen dentro */
    opacity: 1; /* Opacidad normal por defecto */
    transition: opacity 0.3s ease-in-out, border-color 0.3s ease-in-out; /* Transición suave */
}

.imagen-mapa {
    width: 100%;  /* La imagen ocupará todo el contenedor */
    height: 100%;
    object-fit: cover; /* La imagen cubre todo el espacio del contenedor */
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0; /* Asegura que la imagen esté por debajo del texto y borde */
    transition: filter 0.3s ease-in-out; /* Transición suave para el filtro */
}

h1{
    margin-top: 3rem;
    margin-bottom: 3px;
}

.players{
    margin-top: 0rem;
    margin-bottom: 50px;
    text-align: center;
    display: flex;
}

.play{
    margin-top: 2;
    margin-bottom: 2rem;
}
    

.player{
    width: 50px; 
    height: 50px; 
    background-color: lightgray; 
    border: 2px solid #333; 
    border-radius: 50%;
    margin: 1rem;
}

.jugadores{
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    align-content: center;
}