@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* { 
    color: whitesmoke;
    font-family: "Kanit", serif;
    font-weight: 700;
    font-style: normal;
    -webkit-text-stroke: 2px black;
    font-size: 1.5rem;
}

body {
    text-align: center;
    background-image: url('../Media/Img/background_1.webp');
    background-size: cover;
    background-repeat: no-repeat;  
    background-attachment: fixed; 
    
}

.mapas {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 20px 60px; 
    max-width: 600px; 
    margin: auto; 
    padding: 20px;
    z-index: 1; /* Mantiene los mapas por encima del fondo */
}

.mapa {
    width: 100%; 
    height: 200px; 
    border: 2px solid #333; 
    border-radius: 10px;
    position: relative; 
    overflow: hidden; 
    transition: opacity 0.3s ease-in-out, border-color 0.3s ease-in-out; /* Animación de transparencia */
}

.imagen-mapa {
    width: 100%;  
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; /* Hace que la imagen esté detrás del texto */
    transition: filter 0.3s ease-in-out;
    pointer-events: none; /* Previene la interacción con la imagen */
}



.texto-seleccionado {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    font-weight: bold;
    color: white;
    background: rgba(0, 0, 0, 0.6); 
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
}

h1 {
    margin-top: 5.5rem;
    margin-bottom: 0px;
}

.players {
    margin-top: 0rem;
    margin-bottom: 50px;
    text-align: center;
    display: flex;
}

.play {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.player {
    width: 50px; 
    height: 50px; 
    background-color: lightgray; 
    border: 2px solid #333; 
    border-radius: 50%;
    margin: 1rem;
    display: flex; /* Usamos flexbox */
    justify-content: center; /* Centra la imagen horizontalmente */
    align-items: center; /* Centra la imagen verticalmente */
    overflow: hidden; /* Asegura que la imagen no se desborde del borde redondeado */
}

.player img {
    width: 100%; /* La imagen ocupa el 100% del ancho del contenedor */
    height: 100%; /* La imagen ocupa el 100% de la altura del contenedor */
    object-fit: cover; /* Hace que la imagen se ajuste correctamente dentro del contenedor sin distorsionarse */
}

.jugadores {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    align-content: center;
}

/* tamaño ordenador
ancho: 1440
alto: 1024

Tamaño tablet
ancho 1180
alto 820

Movil (horizontal)
alto 375
ancho 667*/

@media (max-width: 1180px){
    .player {
        margin: 10px;
    }

    h1 {
        margin-top: 10px;
        margin-bottom: 0px;
    }

    .play{
        margin: 0;
    }

    .mapa {
        width: 100%; 
        height: 150px; 
        
    }


}

@media (max-width:667px) {
    
    body{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .mapas{
        display: flex;
        align-items: center;
        width: 100%;
    }

    .mapa {
        width: 50%; 
        height: 100px; 
        
    }

    .player {
        margin: 3px;
    }

    h1 {
        margin-top: 10px;
        margin-bottom: 0px;
    }

    .play{
        margin: 0;
    }
}
