@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    color: whitesmoke;
    font-family: "Kanit", serif;
    font-weight: 700;
    font-style: normal;
    -webkit-text-stroke: 2px black;

}

body{
    background-image: url(../Media/Img/background_2.webp);
    background-size: cover;  
    background-attachment: fixed; 
}


/* Caja gorda de ajustes */
.cont-settings {
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
    background-color: #dbbdb5;
}

.settings{
    display: flex;
    flex-direction: row;
}

/* Para el titulo de la caja */
.forTitle{
    display: flex;
    align-items: center;
    justify-content: center;
}

#title{
    font-size: 3em;
    color: white;
    -webkit-text-stroke: 2px black;
}

/* Para cada párrafo */
.parts{
    font-weight: bold;
    font-size: 2em;
    flex-direction: row;
    margin-left: 10%;
    padding-bottom: 1%;
}

/* Sliders */
.sliders{
    margin-top: 1.75rem;
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
    padding-left: 20%;
    padding-right: 20%;
}

.hue {
    -webkit-appearance: none;
    height: 35px;
    background: #ffffff;
    color:rgb(168, 168, 168);
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    width: 50vh;
}

.hue::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: round;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: #c4c4c4;
    cursor: pointer;

}
  


/* Zona de los botones de abajo */
.save-return{
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    
}

button{
    /* Boton */
    width: 300px;
    height: 100px;

    /* Texto */
    background-color: burlywood;
    font-size: 3em;
    color: white;
    -webkit-text-stroke: 2px black;
    transition: 0.3s;

}

button:hover{
    background-color: blue;
    font-size: 3em;
    color: green;
    -webkit-text-stroke: 2px orange;
    transition: 0.3s;
}


/* tamaño ordenador
ancho: 1440
alto: 1024

Tamaño tablet
ancho 1180
alto 820

Movil (horizontal)
alto 375
ancho 667*/

/* TABLET */
@media (max-width: 1180px){
    .cont-settings{
    margin-top: 7%;
    }

}


/* MOVILE */
@media (max-width:667px){

    /* Zona general */
    .cont-settings{
        margin-top: 0vh;
    }

    /* Título */
    #title{
        font-size: 9vh;
        color: white;
        -webkit-text-stroke: 0.5vh black;
    }

    .forTitle{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 20vh;
    }

    /* Párrafos */
    .parts{
        font-weight: bold;
        font-size: 6.5vh;
        flex-direction: row;
        margin-left: 10%;
        padding-bottom: 0%;
    }

    p{
        margin: 3vh;
    }

    /* Sliders */
    .sliders{
        margin-top: 4vh;
        display: flex;
        flex-direction: column;
        gap: 3.75vh;
        padding-left: 20%;
        padding-right: 20%;
    }

    .hue {
        -webkit-appearance: none;
        height: 5vh;
        background: #ffffff;
        color:rgb(168, 168, 168);
        outline: none;
        opacity: 0.7;
        -webkit-transition: .2s;
        transition: opacity .2s;
        width: 50vh;
    }
    
    .hue::-webkit-slider-thumb {
        -webkit-appearance: none;
        width: 5vh;
        height: 5vh;
        border-radius: 50%;
        background: #c4c4c4;
        cursor: pointer;
    }

    /* Botones */

    button{
        width: 50vh;
        height: auto;
        font-size: 10vh;
    }
}