*{
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: Impact, Haettenschweiler, 'Arial Narrow', sans-serif;
}
nav .menu-flex{
    list-style: none;
    padding: 1rem;
    background-color: blueviolet;
    display: flex;
    justify-content: space-around;
}

.inicio {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-end;
    padding: 4rem 7rem 7rem 7rem;
    height: 100vh;
}

.contenedor_inicio {
    width: 26.5rem;
    height: 15rem;
    background-color: #3498db;
}

.texto {
    color: black;
    font-size: 2rem;
    text-align: center;
}

.bienvenida{
    background-color: rgb(45, 30, 56);
    display: flex;
    flex-wrap: wrap;
    padding: 4rem 7rem 7rem 7rem;
    height: 100vh;
    align-items: center;
    justify-content: center;
}


#bienvenida{
    color: white;
    text-align: center;
    padding: 0rem 7rem 0rem 7rem;
}

.contenedor_bienvenida{
    width: 40rem;
    height: 15rem;
    background-color: #3498db;
    margin-top: 4rem;
}

.mision{
    background-color: rgb(100, 26, 78);
    height: 100vh;
    padding: 4rem 7rem 7rem 7rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: flex-start;
}

#mision{
    padding: 0rem 7rem 0.5rem 7rem;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    
}

.contenedor_mision{
    width: 40rem;
    height: 20rem;
    background-color: #3498db;
    margin-top: 4rem; 
    text-align: center;
}

.equipo{
    background-color: rgb(45, 30, 56);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 4rem 7rem 7rem 7rem;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

#equipo{
    color: white;
    text-align: center;
    padding: 0rem 7rem 0rem 7rem;
}

.contenedor_equipo{
    width: 40rem;
    height: 15rem;
    background-color: #3498db;
    margin-top: 4rem;
}





.registro{
    background-color: rgb(100, 26, 78);
    display: flex;
    flex-direction: column;
    padding: 4rem 6rem 6rem 6rem;
    height: 150vh;
}

#registro{
    font-size: 4rem;
    text-transform: uppercase;
    /* padding: 0.5rem 0rem 0.5rem 0.5rem ; */
}

.info{
    font-size: 2.5rem;
}

#titulo{
    font-size: 2.5rem;
}



label {
    font-weight: bold;
    display: block;
    margin-top: 15px;
    font-size: 2rem;
}
fieldset {
    border: none; 
    background: transparent; 
    padding: 0; 
    margin: 0; 
}


input[type="text"], input[type="email"], select {
    width: 40%;
    padding: 10px;
    margin-top: 5px;
    border: none;
    border-radius: 5px;
    background-color: #560bad;
    color: white;
    font-size: 1.5rem;
}

legend{
    font-size: 1.25rem;
}
input::placeholder {
    color: lightgray;
}

input[type="checkbox"] {
    transform: scale(1.5); 
    margin-right: 10px; 
    cursor: pointer; 
}

.checkbox-gamesplayed label {
    display: flex;
    align-items: center;
    font-size: 2rem;
    margin-top: 10px;
}

.checkbox-gamesplayed input {
    width: auto; 
    margin: 20px 20px 20px 30px;
}

.checkbox-inline {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 15px;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    background-color: #9d4edd;
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #c77dff;
}

.privacy-text {
    font-size: 1.2rem;
    color: lightgray;
    padding: 0rem 1rem 0rem 1rem;
}

.privacy-text a {
    color: #31ec4a;
    text-decoration: none;
}







